.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  /* BANNER MOBILE */
  .hereYouCan {
    text-align: center !important;
    font-size: 12vw !important;
  } 
  .learnFromTheBest {
    text-align: center !important;
    font-size: 8vw !important;
    
  }
  .Banner {
    margin-right: 2vw !important;
  }
  .featured-top .search-form-wrapper {
    width: 75% !important;
    height: 8vh;
    
  }
  input {
    font-size: 4vw;
  }
  .each-fade img {
    padding-top: 20vh !important;
    vertical-align: bottom !important;
  }

  /* OVERVIEW MOBILE */
  .Overview {
    font-family: "sharpSans-Bold";
    min-height: 20vh;
    width: 70% !important;
    margin-left: 10vh !important;
    margin-bottom: 8vh;
  }
  .Overview h1 {
    font-size: 20px !important;
  }
  .Overview p {
    font-size: 16px !important;
  }
  .btn {
    padding: 12px 22px !important;
    font-size: 16px !important;
    width: 50vh;  
  }

  /* CLICKABLE MOBILE */
  .Clickable {
    font-family: "sharpSans-Bold";
    min-height: 50vh;
    width: 100% !important;
    text-align: center;
  }
  .MediaTechInfo p {
    font-size: 16px !important;
    margin-right: 0 !important;
  }
  .AssociateInfo p {
    font-size: 16px !important;
    margin-right: 0 !important;
  }

  /* FAQs MOBILE */
  .Faqs h1 {
    font-size: 22px !important;
    margin-top: 10vh !important;
    margin-bottom: 6vh;
    font-family: "sharpSans-Bold";
  }
  .Faqs h3 {
    margin-top: 6vh !important;
    margin-left: 10vh;
    margin-right: 10vh;
    font-family: "sharpSans-Light";
    font-size: 16px;
    text-align: left;
  }

  /* BRANDS MOBILE */
  .Brands {
    width: 50%;
  }
}






/* BANNER */
.Banner {
  width: 100%;
  height: 100%;
  margin-top: 10vh; 
  margin-right: 90vh;
}
.input-search {
  width: 100%;
}
.fa-arrow-right {
  right: 2vh !important;
}
.featured-top .search-form-wrapper {
  width: 100%;
  align-content: center;
  margin-left: 8vw;
}
.featured-top .field--name-field-banner-logo-small img {
  height: 50vh;
  padding-top: 40vh;
}
.slide-container {
  width: 100%;
  margin: auto; 
}
h3 {
  text-align: center; 
}
.each-fade > div {
  display: flex;
  align-items: center top;
  justify-content: center;
  background-size: cover;
  height: 80vh;
  background-position: center;
}
.each-fade span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}
.each-fade .image-container img {
  width: 100%;
}
.hereYouCan {
  color: #896EB1;
  font-weight: bold !important;
  font-size: 8vw;
  line-height: 1;
  font-family: "sharpSans-Bold";
  /* text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; */
  text-align: left;
  margin-left: 8vw;
}
.learnFromTheBest {
  font-family: "sharpSans-Light";
  font-size: 4vw;
  line-height: 1;
  /* text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; */
  text-align: left;
  margin-left: 8vw;
}

.each-fade img {
  padding-top: 2vw;
  align-content: center !important;
  margin-left: 8vw;
}


/* OVERVIEW */
.Overview {
  font-family: "sharpSans-Bold";
  min-height: 40vh;
  width: 100%;
  text-align: left;
  margin-left: 20vh;
  margin-bottom: 8vh;
}
.Overview h1 {
  margin-top: 10vh;
}
.Overview p {
  margin-top: 5vh;
  margin-right: 14vw;
  font-size: 20px;
  margin-left: 0 !important;
}
.Overview button {
  margin-top: 5vh;
}
.btn {
  background-color: #896EB1;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  width: 50vh;  
}
.btn:hover {opacity: 1}
.apply {
  font-size: 20px;
}
.option {
  text-align: center;
  display: flex;
  align-content: center !important;
}


/* CLICKABLE */
.Clickable {
  font-family: "sharpSans-Bold";
  min-height: 50vh;
  width: 100%;
  text-align: center;
}
.Clickable h4 {
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  opacity: 0.7;
  transition: 0.3s;
}
.Clickable h4:hover {
  color: #896EB1;
  opacity: 1;
}
.MediaTechInfo {
  margin-top: 8vh;
}
.MediaTechInfo h2 {
  text-shadow: -1px -1px 0 #26ace2, 1px -1px 0 #26ace2, -1px 1px 0 #26ace2, 1px 1px 0 #26ace2;
}
.MediaTechInfo p {
  font-size: 18px;
  text-align: left;
  margin-right: 10vh;
}
.AssociateInfo {
  margin-top: 8vh;
}
.AssociateInfo h2 {
  text-shadow: -1px -1px 0 #74c25c, 1px -1px 0 #74c25c, -1px 1px 0 #74c25c, 1px 1px 0 #74c25c;
}
.AssociateInfo p {
  font-size: 18px;
  text-align: left;
  margin-right: 10vh;
}
.border-mt {
  background-color: #26ace2;
  width: 2px;
  min-height: 50vh;
}
.border-ap {
  background-color: #74c25c;
  width: 2px;
  min-height: 50vh;
}
.border-black {
  margin-top: 10vh;
  background-color: #000;
  width: 2px;
  min-height: 50vh;
}


/* Experiences */
.Experiences {
}
.Experiences h1 {
  margin-top: 10vh;
  font-family: "sharpSans-Bold";
  margin-bottom: 10vh;
}
.Experiences h2 {
  font-family: "sharpSans-Light";
}
.Experiences h4, p {
  text-align: left;
  margin-left: 6vh;
}
.btn-exp {
  background-color: #896EB1;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  width: 30vh;
  margin-top: 2vh;
}
.btn-exp:hover {
  opacity: 1
}
#intProjDesc {
  margin-right: 10vh;
}
.expByDepartment {
  margin-top: 10vh;
  align-content: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Experiences */
.APExperiences {
}
.APExperiences h1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: "sharpSans-Bold";
}
.APExperiences h2 {
  font-family: "sharpSans-Light";
}
.APExperiences h5, p {
  text-align: left;
  margin-left: 6vh;
}
.APExperiences p {
  line-height: 1.5;
  margin-bottom: 6vh;
}
.btn-exp {
  background-color: #896EB1;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  width: 30vh;
  margin-top: 2vh;
}
.btn-exp:hover {
  opacity: 1
}
#intProjDesc {
  margin-right: 10vh;
}
.expByDepartment {
  margin-top: 10vh;
  align-content: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}



/* BRANDS */
.Brands {
  width: 100%;
}
.Brands h1 {
  margin-top: 10vh;
  margin-bottom: 6vh;
  font-family: "sharpSans-Bold";
}
.Brands h2 {
  margin-top: 6vh;
  text-align: center;
  font-family: "sharpSans-Light";
}
.Brands img {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  margin-bottom: 4vh;
  background-color: #26ace2;
}


/* FAQs */
.Faqs h1 {
  margin-top: 10vh;
  margin-bottom: 6vh;
  font-family: "sharpSans-Bold";
}
.Faqs h3 {
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-family: "sharpSans-Light";
  text-align: left;
}

/* NAVBAR */
.Navbar {
  min-height: 75px;
  width: 100% !important;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF !important;
  position: relative;
  display: flex;
  align-items: center;
}
.Navbar-brand {
  margin-right: 0;
  padding-left: 40px !important;
  padding-top: 0.5125rem;
}
.Navbar-brand img {
  width: 250px;
  display: inline-block !important;
  vertical-align: top !important;
}
